<div  class='all-questions col-md-8 col-md-offset-2'>
<div style = "text-align: center;">
<h1 class="header">Questions (<label>My Questions</label> = Asked By You)</h1>
</div>
    <% @questions.each do |question| %>
      <div class= 'question <%="mine" if current_user.id == question.user_id%>'>
        <div class='row question-body'>
           <div class= 'question-title'><h2><%= link_to question.title, question_path(question) %></h2>
             <span style="font-style:italic;font-size: 18px">-- questioned by <%=question.user.email%></span>
           </div>
        </div>
        <div class = 'question-info'>
          <div class = 'question-create'> <p><%= question.created_at.strftime("%B, %Y")%></p></div>
          <div class = 'question-url'> <%= link_to "Read More>>", question_path(question) %>  </div>
        </div>
      </div>
      <hr>
    <%end%>
</div>
