<div class = 'container'>
  <div class= 'row question-page'>
    <div class= 'col-lg-8'>
      <h1><span class='title'>Question:</span> <%= @question.title %> </h1>
      <% t = @question.created_at %>
      <p style='font-size: 14px;'><span class="glyphicon glyphicon-time"></span> questioned asken on
       <%= t.strftime("%B %C, %G at  %I%p")%> </p>

      <p class = "question-description">
        <span class='title'>Description:</span> <%= @question.description %>
      </p>
      <%if @question.category %>
        <p>
          <span class='tags'><%=@question.category.name %></span>
        </p>
      <%end%>
      <% if current_user && current_user.id == @question.user.id %>
        <%= link_to 'Edit', edit_question_path(@question), class: "btn btn-default btn-primary" %>
        <%= link_to 'Back', questions_path, class: "btn btn-default btn-primary" %>
      <%end%>
      </br>
      </br>

      <div class="well">
        <%if @question.answers.any?{|answer| answer.user_id == current_user.id} || @question.user_id == current_user.id %>
          <div class = 'answers'>
            <% @question.answers.each do |answer| %>
              <div class="media">
               <div class="media-body">
                  <h4 class="media-heading"><%= answer.user.email %>:
                  </h4>
                    <%= answer.body %>
               </div>
              </div>
            <% end %>
          </div>
        <%else%>
            <h4>Leave a answer:</h4>
            <%= form_for([@question, @question.answers.build]) do |f| %>
                <p>
                  <%= f.label :body %><br>
                  <%= f.text_area :body %>
                </p>
                <p>
                  <%= f.submit %>
                </p>
            <% end %>
            <p>
        <%end%>
      </div>
    </div>
  </div>
 </div>
