<!DOCTYPE html>
<html>
  <head>
    <title>QAndA</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="/">QAndA</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"">
          <ul class="nav navbar-nav">
            <% if current_user %>
              <li><a href="/questions">Questions</a></li>
            <%end%>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <li>
                    <%=link_to "Logout",logout_path, class: "btn btn-default btn-outline btn-circle collapsed"%>
                </li>
              <%end%>
          </ul>
        </div>
      </div>
    </nav>

    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-12">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
              <% if value.is_a?(Array) %>
                <% value.each do |msg| %>
                 <li><%= msg %></li>
                 <% end %>
              <%else%>
                 <%= value %>
              <%end%>
             </div>
          <% end %>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
           <%if current_user %>
             <h1>Hi <%=current_user.name %></h1>
          <%end%>
          <%= yield %>
      </div>
    </div>

  </body>
</html>
